<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>blood-pressure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Systolic
      </ion-col>
      <ion-col>
        Diastolic
      </ion-col>
      <ion-col>
        Pulse
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-column>
        <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
          <ion-select-option value="100">100</ion-select-option> 
          <ion-select-option value="110">110</ion-select-option> 
          <ion-select-option value="120">120</ion-select-option> 
          <ion-select-option value="130">130</ion-select-option> 
          <ion-select-option value="140">140</ion-select-option>
          </ion-select> 
      </ion-column>
      <ion-column>
        <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
          <ion-select-option value="100">100</ion-select-option> 
          <ion-select-option value="110">110</ion-select-option> 
          <ion-select-option value="120">120</ion-select-option> 
          <ion-select-option value="130">130</ion-select-option> 
          <ion-select-option value="140">140</ion-select-option>
          </ion-select> 
      </ion-column>
      <ion-column>
        <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
          <ion-select-option value="100">100</ion-select-option> 
          <ion-select-option value="110">110</ion-select-option> 
          <ion-select-option value="120">120</ion-select-option> 
          <ion-select-option value="130">130</ion-select-option> 
          <ion-select-option value="140">140</ion-select-option>
          </ion-select> 
      </ion-column>
    </ion-row>
    <ion-row>
      <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="Hour, Minute, Second"></ion-datetime>
    </ion-row>

  
  </ion-grid>


</ion-content>
