<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>menu</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <a [routerLink]="['/medical-visit']" class="small-text"> <ion-label>Medical Visit</ion-label> </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/medical-history']" class="small-text"> <ion-label>Medical History</ion-label> </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/blood-pressure']" class="small-text"> <ion-label>Blood Pressure</ion-label> </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/blood-glucose']" class="small-text"> <ion-label>Blood Glucose</ion-label> </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/weight']" class="small-text"> <ion-label>Weight</ion-label> </a>
    </ion-item>
    <ion-item>
      <a [routerLink]="['/medical-records']" class="small-text"> <ion-label>Medical Records</ion-label> </a>
    </ion-item>
  </ion-list>
</ion-content>
