<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-title>medical-history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
