<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>medical-visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <a [routerLink]="['/new-visit']" class="small-text"> New Visit </a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/previouse-visit']" class="small-text"> Previouse Visit </a>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        Date
      </ion-col> 
      <ion-col>
        Date picker to be added
      </ion-col>          
    </ion-row>

    <ion-row>
      <ion-col>
        Time
      </ion-col> 
      <ion-col>
        Clock to be added
      </ion-col>          
    </ion-row>

    <ion-row>
      <ion-col>
        Type
      </ion-col> 
      <ion-col>
        <ion-list>
          <ion-radio-group value="biff">
            <ion-item>
              <ion-label>New</ion-label>
              <ion-radio slot="" value=""></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Follow up</ion-label>
              <ion-radio slot="" value=""></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>          
    </ion-row>

    <ion-row>
      <ion-col>
        Note 
      </ion-col> 
      <ion-col>
        <ion-input value="placeholder"></ion-input>
      </ion-col>          
    </ion-row>

    <ion-row>
      <ion-col>
        Doctor Name 
      </ion-col> 
      <ion-col>
        <ion-input value="placeholder"></ion-input>
      </ion-col>          
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/save']" expand="block" color="danger">Save</ion-button> 
      </ion-col>                
    </ion-row>
    </ion-grid>

</ion-content>
